<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css" />
  <!-- <link rel="stylesheet" href="/css/style.css" /> -->
  <link rel="stylesheet" href="/css/categories.css" />
  <link rel="stylesheet" href="/css/connexion.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/homePage.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <title>Forum</title>
</head>

<body class="body">
  <header class="header">

    <div class="header__logo">
      <a href="/"><h1 id="frontPageTitle">TOPIC(S)</h1></a>
    </div>


    <nav class="header__nav">


      <ul class="header__nav__links">
        <li class="header__nav__links__link"><a href="/">
          Home
        </a></li>

        <li class="header__nav__links__link"><a href="/categories">
          Categories
        </a></li>

        <li class="header__nav__links__link"><a href="#">
          About
        </a></li>

      </ul>


      <ul class="header__nav__links">
        <% if (!session.data.logguedIn) {%>

        <li class="header__nav__loginButton"><a href="/connexion/stdLogin" >
            Sign/in
          </a></li>

        <% } %>

        <% if (session.data.logguedIn) { %>

        <li class="header__nav__loginButton"><a href="/myProfile">
            Mon Profil</a></li>
        <li class="header__nav__loginButton"><a href="/connexion/disconnect">
            Sign/out</a></li>

        <% } %>

      </ul>

    </nav>
    <div class="header__devButton" id="infoDevButton">?</div>


  </header>

  <!-- Utiliser en dev pour controler les valeurs des variables lièes à la session -->

  <div class="connexion__infoDev" id="infoDev">
    <div class="connexion__loggedIn connexion__item">session.data.logguedIn : <%= session.data.logguedIn %></div>
    
    <% if (session.data.userInfos !== null) { %>
    <div class="connexion__userStatus connexion__item">session.data.userInfos.status : <%= session.data.userInfos.status %></div>
    <div class="connexion__userStatus connexion__item">session.data.userInfos.id : <%= session.data.userInfos.id %></div>
    <div class="connexion__userStatus connexion__item">session.data.userInfos.pseudo : <%= session.data.userInfos.pseudo %></div>
    <% } %>
    
    <div class="connexion__info  connexion__item">response.info :
      <% if (typeof info != 'undefined') {%>
      <%= info %>
      <% } else { %>
      pas d'info
      <% } %>
    </div>
  

  </div>
