<%- include("partials/header.ejs") %>

<h1 class="categories__main__title">Explore all topics</h1>

<div class="categories__main__container">
    <% categories.forEach(category => { %>
        
            <article class="categories__box">
                    <a href="/categories/<%=category.name%>"><img class="categories__box__image" src="/assets/browse/<%= category.name %>.png" alt="cartoon of a <%=category.name%>"></a>
                    <div class="categories__box__title__container">
                    <a href="/categories/<%=category.name%>"><h2 class="categories__box__title"> <%=category.name%> </h2></a>
                    </div>
                
                </article>
 
    <% }); %>
</div>

<%- include("partials/footer.ejs") %>
