<%- include("partials/header.ejs") %>


<ul>
   <% topics.forEach(topic => { %>
       <li><a href="/topics/<%=  categoryName %>/<%= topic.title %> "><%= topic.title %> </a></li>

   <% }); %>
</ul>

<%- include("partials/footer.ejs") %>
