
    <%- include("partials/header.ejs") %>

    <% if (session.data.userInfos !== null) {%> 
    <h2>Bonjour je suis <%= session.data.userInfos.pseudo %> avec mon id= <%= session.data.userInfos.id %></h2>
    <% } %> 
    <h2 style="text-decoration:underlined;font-size:1.5rem; margin-bottom:1rem"class="main__topic__title" ><%= topic.title %> </h2>

         <div id="message-list" class="message__list">
           <!-- description of the thread is set as the first message -->
            <article style="border:2px solid black; margin-bottom:1rem"class="message">
               <header style="border:1px solid gray" class="message__header">
                  <h3 class="message__author"><%= topic.pseudo %></h3>
               </header>
               <section class="message__main">
                  <%= topic.topic_description %>
               </section>
               <footer class="message__footer">
                  <p>Poste le <time>><%= new Date(topic.created_at).toLocaleDateString() %> - <%=new Date(topic.created_at).toLocaleTimeString()%></time></p>
               </footer>
            </article>
           <!-- We loop through all the messages to display them -->
           
            <% for (message of messages) { %>
           
               <article style="border:2px solid black;margin-bottom:1rem" class="message">
               <header style="display: flex; justify-content:space-between; border:1px solid gray" class="message__header">
                  <h3 class="message__author"><%= message.pseudo %></h3>

                  <% if (session.data.logguedIn && message.users_id === session.data.userInfos.id) { %>
                     <!-- hidden form -->
                     <form action="<%= postUrl + '/delete' %>" method="POST">
                        <input type="hidden" id="deleteMessageId" name="deleteMessageId" value="<%= message.id %> ">
                        <button type="submit" style="color:red; font-weight:bold; border:2px solid red; border-radius: 5px; padding: 0 5px"href="#"> x</button>
                     </form>
                 
                  <% } %>

               </header>
               <section class="message__main">
                  <%= message.message_content %>
               </section>
               <footer class="message__footer">
                  <p>Poste le <time><%= new Date(message.created_at).toLocaleDateString() %> - <%=new Date(message.created_at).toLocaleTimeString()%></time></p>
               </footer>
            </article>
           
            <% } %>
         

         </div>
           <!-- form to post messages-->
           <% if (session.data.logguedIn) { %> 

         <form method="post" action="<%= postUrl + '/post' %>" id="message-form" class="message__form">
            <label for="message">Repondre:</label>
            <textarea
               name="message"
               id="message"
               class="message__area"
               placeholder="type your message here"
            ></textarea>
            <button class="btn__submit" type="submit">Poster</button>
         </form>
<% } %>
     

      <%- include("partials/footer.ejs") %> 
    