
    <%- include("partials/header.ejs") %>

      
        <h2 class="main__topic__title" ><%= topic.title %> </h2>

         <div id="message-list" class="message__list">
           <!-- description of the thread is set as the first message -->
            <article class="message">
               <header class="message__header">
                  <h3 class="message__author"><%= topic.author %></h3>
               </header>
               <section class="message__main">
                  <%= topic.topic_description %>
               </section>
               <footer class="message__footer">
                  <p>Poste le <time><%= topic.created_at %></time></p>
               </footer>
            </article>
           <!-- We loop through all the messages to display them -->
           
            <% for (message of messages) { %>
           
               <article class="message">
               <header class="message__header">
                  <h3 class="message__author"><%= message.author %></h3>
               </header>
               <section class="message__main">
                  <%= message.message_content %>
               </section>
               <footer class="message__footer">
                  <p>Poste le <time><%= message.created_at %></time></p>
               </footer>
            </article>
           
            <% } %>
         

         </div>
           <!-- form to post messages-->

         <form method="post" action="<%= postUrl %> " id="message-form" class="message__form">
            <label for="message">Repondre:</label>
            <textarea
               name="message"
               id="message"
               class="message__area"
               placeholder="type your message here"
            ></textarea>
            <label for="username">ton pseudo</label>
            <input
               type="text"
               id="username"
               name="username"
               class="message__username"
            />
            <button class="btn__submit" type="submit">Poster</button>
         </form>
     

      <%- include("partials/footer.ejs") %> 
    